<% content_for :page_title do %>Import Products<% end %>

<div class="container-fluid">
  <div class="row import-steps">
    <div class="col-md-4 step text-center done">
      <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
      <span class="step-title">Upload Import File</span>
    </div>
    <div class="col-md-4 step text-center done">
      <span class="glyphicon glyphicon-random" aria-hidden="true"></span>
      <span class="step-title">Mapping</span>
    </div>
    <div class="col-md-4 step text-center active">
      <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
      <span class="step-title">Run</span>
    </div>
  </div>
</div>
