// Placeholder manifest file.
// the installer will append this file to the app vendored assets here: 'vendor/assets/stylesheets/spree/backend/all.css'


.import-steps {
  .step {
    border: 1px solid #C0C0C0;
    border-right: none;
    color: #CCC;

    span.glyphicon {
      display: block;
      font-size: 40px;
      padding: 15px 0 8px 0;
    }

    span.step-title {
      display: block;
      padding-bottom: 15px;
    }
  }

  .step:first-child {
    border-radius: 5px 0 0 5px;
  }
  .step:last-child {
    border-radius: 0 5px 5px 0;
    border: 1px solid #C0C0C0;
  }
  .step.active {
    color: #000;
  }
  .step.done {
    color: lighten(#5cb85c, 3%);
  }
}

#product-image-upload {
  div.table {
    display: table;
  }
  div.table .file-row {
    display: table-row;
  }
  div.table .file-row > div {
    display: table-cell;
    vertical-align: top;
    border-top: 1px solid #ddd;
    padding: 8px;
  }
  div.table .file-row:nth-child(odd) {
    background: #f9f9f9;
  }

  /* The total progress gets shown by event listeners */
  #total-progress {
    opacity: 0;
    transition: opacity 0.3s linear;
  }

  /* Hide the progress bar when finished */
  #previews .file-row.dz-success .progress {
    opacity: 0;
    transition: opacity 0.3s linear;
  }

  /* Hide the delete button initially */
  #previews .file-row .delete {
    display: none;
  }

  /* Hide the start and cancel buttons and show the delete button */

  #previews .file-row.dz-success .start,
  #previews .file-row.dz-success .cancel {
    display: none;
  }
  #previews .file-row.dz-success .delete {
    display: block;
  }
}